<div class="shopify-section">

  <div id="section-reset" class="site-box-container container--fullscreen box--can-stick">

    <div class="site-box box--big lap--box--small-fl-auto box--typo-big box--lots-of-text box--center-align box--column-flow box__heading box--add-hr" data-order="0">
      <div class="reduce-top-margin">
        <div class="site-box-content">
          <h1 class="title h1">{{ 'customer.reset_password.title' | t }}</h1>
          {%- if settings.headings_hr -%} <hr /> {%- endif -%}
        </div>
      </div>
    </div>

    <div class="site-box box--big lap--box--bigger box--center-align box--column-flow box__text" data-order="1">

      <div class="site-box-content reduce-top-margin">

        <div class="simple-grid">

          {% form 'reset_customer_password' %}

            <div class="grid__item one-whole">{%- render 'form-errors', form: form -%}</div>

            <p class="grid__item one-whole caption">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            <div class="grid__item one-whole">
              <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>
            
            <div class="grid__item one-whole">
              <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>

            <div class="grid__item one-whole">
              <button type="submit" class="button button--solid">
                <span class="button-scroll-in">{{ 'customer.reset_password.submit' | t }}</span>
              </button>
            </div>

          {% endform %}

        </div>

      </div>

    </div>

  </div>

</div>
