<main-header id="site-header" class="site-header desktop-view--{{ section.settings.menu_style }} header-scroll" data-logo_height="{{ section.settings.logo_height }}">

  <!-- logo -->
  
  {%- if template == 'index' -%}
    <h1 class="logo">
  {%- else -%}
    <span class="logo">
  {%- endif -%}
    {%- if section.settings.logo_src -%}
      <a class="logo-img" href="{{ routes.root_url }}" style="height:var(--header-logo);display:flex;align-items:center">
        <img src="{{ section.settings.logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="max-height:{{ section.settings.logo_height }}px" width="{{ section.settings.logo_src.width }}" height="{{ section.settings.logo_src.height }}" />
      </a>
    {%- else -%}
      <a class="logo-txt" href="{{ routes.root_url }}">{{ shop.name | escape }}</a>
    {%- endif -%}
  {%- if template == 'index' -%}
    </h1>
  {%- else -%}
    </span>
  {%- endif -%}

  <div class="site-nav style--classic">
    <a href="#login-modal" class="js-toggle-login-modal">
      {{ 'password.password_link' | t }}
      {%- render 'theme-symbols', icon: 'lock' -%}
    </a>
  </div>

</main-header>

{%- render 'head-size', logo: section.settings.logo_src, logo_height: section.settings.logo_height -%}

<div id="login-modal" aria-hidden="true" class="hide">

  <div class="login-modal">

    {%- form 'storefront_password' -%}
      <div class="password-input-group">
        <p class="h2">{{ 'password.login_form_heading' | t }}</p>
        {%- render 'form-errors', form: form -%}
        <label for="Password" class="visually-hidden">{{ 'password.login_form_password_label' | t }}</label>
        <input 
          type="password" name="password" id="Password" 
          placeholder="{{ 'password.login_form_password_label' | t }}" autofocus autocomplete="off" 
          {% if form.errors %} aria-invalid="true" {% endif %}
        >
        <button class="button button--solid button--wide" type="submit" name="commit">
          {{ 'password.login_form_submit' | t }}
        </button>
      </div>
    {%- endform -%}

    <p class="password-form-heading">{{ 'password.admin_link_html' | t }}</p>
    
    <div class="basicLightboxClose basicLightboxCloseWithIcon">{%- render 'theme-symbols', icon: 'close' -%}</div>

  </div>

</div>

<script>

  window.onload = ()=>{

    if ( document.querySelector('.login-modal .alert--error') ) {
      setTimeout(()=>{
        modal.show(()=>{
          document.querySelector('.basicLightboxClose').addEventListener('click', ()=>{
            modal.close();
          });
        });
      }, 200);
    }

    const modal = basicLightbox.create(document.getElementById('login-modal'));
    if ( document.querySelector('.js-toggle-login-modal') ) {
      const modalEvent = document.querySelector('.js-toggle-login-modal').addEventListener('click', ()=>{
        modal.show(()=>{
          document.getElementById('Password').focus();
          if ( document.querySelector('.basicLightboxClose') ) {
            document.querySelector('.basicLightboxClose').addEventListener('click', ()=>{
              modal.close();
            });
          }
        });
      });
    }
  }

</script>

{% schema %}
  {
    "name": "t:sections.main-password-header.name",
    "class": "mount-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "t:sections.sidebar.settings.image.label"
      },
      {
        "type": "range",
        "id": "logo_height",
        "label": "t:sections.split-extra-words.sections.header.settings.logo_height",
        "unit": "px",
        "min": 20,
        "max": 140,
        "step": 2,
        "default": 40
      }
    ]
  }
{% endschema %}