{%- render 'custom-colors', id: section.id, background: section.settings.custom_background, text: section.settings.custom_text -%}

<div id="section-{{ section.id }}" class="site-box-container container--fullscreen box--can-stick remove-sticky-border"
  {% if section.settings.mobile_layout %} data-mobile-slider {% endif %}
>
  
  <div class="site-box box--big lap--box--small-fl-auto box--typo-big box--center-align box--top-align-if-first box--column-flow box__heading" data-order="0">
    <div class="site-box-content reduce-top-margin-if-first">
      <div>
      
        <h2 class="title h1">{{ section.settings.title | escape }}</h2>
        {%- unless section.settings.subtitle == blank -%}
          <span class="subtitle">{{ section.settings.subtitle | escape }}</span>
        {%- endunless -%}
        {%- if settings.headings_hr -%} <hr /> {%- endif -%}
      
      </div>
    </div>
  </div>

  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box--no-padding" data-order="1" style="border:none">
    <div class="site-box-content remove-first-border">

      {%- if section.settings.mobile_layout -%}
        <css-slider 
          data-options='{
            "selector": ".box__testimonial",
            "navigation": false,
            "autoHeight": true,
            "watchCSS": true
          }'
          class="content-slider-mobile css-slider--simple-dots"
          style="display:block"
          id="css-slider-{{ section.id }}"
        >
        <style>
          @media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait) {
            #css-slider-{{ section.id }}:not(.enabled) {
              display: flex !important;
            }
          }
        </style>
      {%- endif -%}

        {%- for block in section.blocks -%}

          <div class="box__testimonial site-box {% if section.blocks.size > 1 %} box--small-fl-auto {% endif %} box--center-align box--text-align-left box--center-align box--column-flow"> 

            <div class="site-box-content">

              {%- if section.settings.show_avatars -%}
                <div class="avatar" aria-hidden="true">
                  {%- unless block.settings.quote_avatar == blank -%}
                   <img 
                      src="{{ block.settings.quote_avatar | img_url: '70x70', crop: 'center' }}" 
                      srcset="{{ block.settings.quote_avatar | img_url: '70x70', crop: 'center' }} 70w, {{ block.settings.quote_avatar | img_url: '140x140', crop: 'center' }} 140w"
                      width="70" height="70"
                      sizes="70px" 
                      loading="lazy" 
                      alt="{{ block.settings.quote_avatar.alt | escape }}"
                    />
                  {%- elsif block.settings.quote_author != blank -%} 
                    <span>{{ block.settings.quote_author | slice: 0 | capitalize }}
                  {%- endunless -%}
                </div>
              {%- endif -%}

              <blockquote class="blockquote rte text-size--large">
                {{ block.settings.quote_content }}
              </blockquote>

              {%- if block.settings.quote_author != blank or block.settings.quote_caption != blank -%}
                <span class="cite text-size--smaller">
                  {%- liquid
                    if block.settings.quote_author != blank 
                      echo block.settings.quote_author | escape
                    endif
                  -%}
                  {%- if block.settings.quote_caption != blank -%}
                    <span>{{ block.settings.quote_caption | escape }}</span>
                  {%- endif -%}
                </span>
              {%- endif -%}

            </div>

          </div>

        {%- endfor -%}

      {%- if section.settings.mobile_layout -%}
        </css-slider>
      {%- endif -%}

    </div>

  </div>

</div>

{% schema %}
  {
    "name": "t:sections.testimonials.name",
    "class": "mount-testimonials margins-quirk-if-first",
    "max_blocks": 7,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.split-extra-words.settings_schema.headings.title",
        "default": "Testimonials"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "t:sections.split-extra-words.settings_schema.headings.subtitle",
        "default": "Share your client's stories"
      },
      {
        "type": "checkbox",
        "id": "show_avatars",
        "label": "t:sections.split-extra-words.sections.testimonials.custom_avatar.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.split-extra-words.settings_schema.colors.headings.custom_colors"
      },
      {
        "type": "color",
        "id": "custom_background",
        "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "custom_text",
        "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "header",
        "content": "t:sections.split-extra-words.sections.testimonials.mobile_layout.header"
      },
      {
        "type": "checkbox",
        "id": "mobile_layout",
        "label": "t:sections.split-extra-words.sections.testimonials.mobile_layout.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.testimonials.blocks.testimonial.name",
        "settings": [
          {
            "type": "richtext",
            "id": "quote_content",
            "label": "t:sections.testimonials.blocks.testimonial.settings.quote.label",
            "default": "<p>Add customer reviews and testimonials to showcase your store's happy customers.</p>"
          },
          {
            "type": "text",
            "id": "quote_author",
            "label": "t:sections.testimonials.blocks.testimonial.settings.author_name.label",
            "default": "Author"
          },
          {
            "type": "text",
            "id": "quote_caption",
            "label": "t:sections.testimonials.blocks.testimonial.settings.author_title.label",
            "default": "Customer"
          },
          {
            "type": "image_picker",
            "id": "quote_avatar",
            "label": "t:sections.testimonials.blocks.testimonial.settings.author_avatar.label",
            "info": "t:sections.split-extra-words.sections.testimonials.custom_avatar.info"
          }
        ]
      }
    ],
    "presets": [{
      "name": "t:sections.testimonials.name",
      "blocks": [{
        "type": "text"
      }, {
        "type": "text"
      }]
    }]
  }
{% endschema %}