{%- render 'custom-colors', id: section.id, background: section.settings.custom_overlay, text: section.settings.custom_text -%}

<video-background id="section-{{ section.id }}" class="site-box-container container--fullscreen" style="display:block">

  <div class="site-box box--typo-bigger box--center-align box--column-flow box__video-background box__announcement {{ section.settings.text_alignment }}">

    <div class="site-box-content">

      <div class="content">

        {%- for block in section.blocks -%}

          {%- case block.type -%}

            {%- when 'heading' -%}
              <span class="title {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</span>

            {%- when 'text' -%}
              <div class="subtitle" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

            {%- when 'button' -%}
             <a class="button button--solid button--with-icon" href="{{ block.settings.button_link | escape }}" title="{{ block.settings.button_label | escape }}" {{ block.shopify_attributes }}>
                <span>{{ block.settings.button_label | escape }}</span> 
                <span class="icon" aria-hidden="true" role="img">{%- render 'theme-symbols', icon: 'arrow_icon_smallest' -%}</span>
              </a>

            {%- when 'line' -%}
              <hr />

          {%- endcase -%}

        {%- endfor -%}

      </div>

    </div>

    <span class="site-box-background {% if section.settings.custom_overlay != "rgba(0,0,0,0)" %} with-image {% endif %}">

      <div class="video-text__background" data-height="{{ section.settings.video_height }}" {% unless section.settings.video == blank %} data-src="{{ section.settings.video }}" {% endunless %}>

      <span class="video-text__image" aria-hidden="true">
        {%- liquid
          unless section.settings.image == blank
            render 'lazy-image', image: section.settings.image, id: section.id, sizes: '100vw'
          endunless
        -%}
      </span>

     </div>

    </span>

    {%- liquid
      if section.blocks.size == 0 and settings.show_preloader 
        render 'preloader'
      endif
    -%}
        
  </div>

</video-background>

<style>
  #section-{{ section.id }} .box__video-background {
    width: 100%;
    {% if section.settings.video_height == "56.25%" %}
      height: calc(100vw * 9 / 16 - 10px) !important;
    {% else %}
      height: {{ section.settings.video_height }};
    {% endif %}
    min-height: 0 !important;
  }
  @media screen and (max-width: 728px) {
    #section-{{ section.id }} .box__video-background {
      {% if section.settings.video_height == "var(--window-height)" %}
        height: 75vh;
      {% elsif section.settings.video_height == "75vh" %}
        height: 55vh;
      {% endif %}
    }
  }
</style>

{%- if section.settings.video_height == "56.25%" -%}
  <style>
    #section-{{ section.id }} .video-text__background video {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      min-width: 0;
      min-height: 0;
      transform: none;
    }
  </style>
{%- endif -%}


{% schema %}
  {
    "name": "t:sections.video-background.name",
    "tag": "section",
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label",
            "default": "Talk about your brand"
          }, 
          {
            "type": "select",
            "id": "heading_size",
            "label": "t:sections.split-extra-words.sections.heading.settings.text_size.label",
            "options": [
              {
                "value": "h3",
                "label": "t:sections.split-extra-words.sections.heading.settings.text_size.options__3.label"
              },
              {
                "value": "h2",
                "label": "t:sections.split-extra-words.sections.heading.settings.text_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.split-extra-words.sections.heading.settings.text_size.options__2.label"
              }
            ],
            "default": "h2"
          }
        ]
      },
      { 
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.rich-text.blocks.text.settings.text.label",
            "default": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ],
        "limit": 1
      },
      {
        "type": "button",
        "name": "t:sections.rich-text.blocks.button.name",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.rich-text.blocks.button.settings.button_label.label",
            "default": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
          }
        ],
        "limit": 1
      },
      {
        "type": "line",
        "name": "t:sections.split-extra-words.sections.heading.settings.line.name",
        "limit": 1
      }
    ],
    "settings": [
      {
        "id": "video",
        "type": "text",
        "label": "t:sections.video-background.settings.video.label",
        "info": "t:sections.video-background.settings.video.info",
        "default": "//cdn.shopify.com/s/files/1/0266/9543/4315/files/Share_your_brand_story_by_adding_a_video_to_your_store.mp4?3663"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.video-background.settings.image.label",
        "info": "t:sections.video-background.settings.image.info"
      },
      {
        "type": "header",
        "content": "t:sections.video-background.settings.size_alignment.content"
      },
      {
        "type": "select",
        "id": "video_height",
        "label": "t:sections.video-background.settings.video_height.label",
        "options": [{
            "value": "56.25%",
            "label": "t:sections.video-background.settings.video_height.options__1.label",
            "group": "t:sections.video-background.settings.video_height.options__1.group"
          },
          {
            "value": "75vh",
            "label": "t:sections.video-background.settings.video_height.options__2.label",
            "group": "t:sections.video-background.settings.video_height.options__2.group"
          },
          {
            "value": "var(--window-height)",
            "label": "t:sections.video-background.settings.video_height.options__3.label",
            "group": "t:sections.video-background.settings.video_height.options__2.group"
          }
        ],
        "default": "56.25%"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image-with-text.settings.text_alignment.label",
        "options": [
          {
            "value": "horizontal-left vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__1.label"
          },
          {
            "value": "horizontal-center vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__2.label"
          },
          {
            "value": "horizontal-right vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__3.label"
          },
          {
            "value": "horizontal-left vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__4.label"
          },
          {
            "value": "horizontal-center vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__5.label"
          },
          {
            "value": "horizontal-right vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__6.label"
          },
          {
            "value": "horizontal-left vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__7.label"
          },
          {
            "value": "horizontal-center vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__8.label"
          },
          {
            "value": "horizontal-right vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__9.label"
          }
        ],
        "default": "horizontal-center vertical-middle"
      },
      {
        "type": "header",
        "content": "t:sections.split-extra-words.settings_schema.colors.headings.custom_colors"
      },
      {
        "type": "color",
        "id": "custom_text",
        "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "custom_overlay",
        "label": "t:sections.split-extra-words.sections.video-background.settings.overlay",
        "default": "rgba(0,0,0,0)"
      }
    ],
    "presets": [{
      "name": "t:sections.video-background.name",
      "blocks": [{
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }]
  }
{% endschema %}